@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}
<section id="main-slider">
    <div class="owl-carousel">
        <div class="item" style="background-image: url(http://www.enflexion.com.au/images/slider1.jpg); ">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2><span>BigPay</span> cổng thanh toán đa dịch vụ</h2>
                                <h3>An toàn - nhanh chóng - chính xác</h3>
                                <a class="btn btn-primary btn-lg" href="#">Đăng ký</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item" style="background-image: url(http://www.mblsolutions.co.uk/media/home/slider1[5].jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2>Giải pháp <span>thương mại điện tử</span> chuyên nghiệp </h2>
                                <h3>Thêm tiện ích - tăng lợi nhuận </h3>
                                <a class="btn btn-primary btn-lg" href="#">Tìm hiểu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.owl-carousel-->
</section><!--/#main-slider-->
<!--/#cta-->
<section id="features">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Tính năng nổi bật</h2>
            <p class="text-center wow fadeInDown">Giải pháp thanh toán toàn diện đa kênh, đa dịch vụ, mọi lúc mọi nơi</p>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="/images/main-feature.png" alt="">
            </div>
            <div class="col-sm-6">
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Bảo mật tuyệt đối</h4>
                        <p>Các giao dịch được mã hóa SHA-256 bit, xác thực bằng mã OTP và các phương thức chống giả mạo tiên tiến</p>
                    </div>
                </div>
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Xử lý nhanh chóng</h4>
                        <p>Khả năng xử lý giao dịch nhanh chóng và đáp ứng hàng triệu giao dịch trong ngày</p>
                    </div>
                </div>
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-cubes"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Hỗ trợ Đa nền tảng</h4>
                        <p>Hệ thống BigPay được phát triển trên nền tảng công nghệ tiên tiến, tương thích với tất cả các loại thiết bị</p>
                    </div>
                </div>
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Trợ giúp 24/7</h4>
                        <p>Chúng tôi có đội ngũ hỗ trợ chuyên nghiệp, tận tình 24/7, sẵn sàng lắng nghe và đáp ứng yêu cầu của Khách hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Dịch vụ</h2>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-bookmark"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Thanh toán hóa đơn</h4>
                            <p>Thanh toán hóa đơn, dịch vụ: Điện, Nước, Internet, Viễn thông...</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Mua sắm trực tuyến</h4>
                            <p>Dễ dàng thanh toán khi mua sắm trực tuyến thông qua tài khoản BigPay</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Chuyển tiền nhanh</h4>
                            <p>Chuyển tiền nhanh chóng, thuận tiện tới người nhận qua tài khoản ngân hàng, số điện thoại và mạng xã hội</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-plane"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Đặt vé điện tử</h4>
                            <p>Đặt vé máy bay, xem phim, tour du lịch... không thể dễ dàng hơn</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Nạp tiền di động</h4>
                            <p>Nạp tiền điện thoại di động trả trước, trả sau; nạp tiền cho tài khoản game online, học trực tuyến...</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Dịch vụ tại quầy</h4>
                            <p>Dễ dàng sử dụng dịch vụ tại các điểm đại lý ủy quyền của BigPay trên toàn quốc</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->
<section id="portfolio">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Đối tác chiến lược</h2>
        </div>
        <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">Tất cả</a></li>
                <li><a href="#" data-filter=".finance">Ngân hàng, tài chính</a></li>
                <li><a href="#" data-filter=".service">Dịch vụ</a></li>
                <li><a href="#" data-filter=".commerce">Thương mại điện tử</a></li>
            </ul><!--/#portfolio-filter-->
        </div>
        <div class="portfolio-items">
            <div class="portfolio-item finance">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" width="600" height="400" src="/images/portfolio/partner_banknet.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>BankNet</h3>
                        Mạng chuyển mạch quốc gia
                        <a class="preview" href="#" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->
            <div class="portfolio-item finance">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="/images/portfolio/partner_ocb.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>OCB Bank</h3>
                        Ngân hàng TMCP Phương Đông
                        <a class="preview" href="/images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->
            <div class="portfolio-item finance">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="/images/portfolio/partner_ncb.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>NCB Bank</h3>
                        Ngân hàng TMCP Quốc dân
                        <a class="preview" href="/images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->
            <div class="portfolio-item commerce">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="/images/portfolio/partner_fpts.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>FPT Shop</h3>
                        Chuỗi bán lẻ thiết bị số FPT Shop
                        <a class="preview" href="/images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->
            <div class="portfolio-item service">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="/images/portfolio/partner_evn.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>EVN Việt Nam</h3>
                        Tập đoàn điện lực Việt Nam
                        <a class="preview" href="/images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</section><!--/#portfolio-->
<section id="about">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Về BigPay</h2>
            <p class="text-center wow fadeInDown">BigPay là cổng thanh toán điện tử được phát triển bởi <a href="http://gncpay.vn">Công ty Cổ phần giải pháp Thanh toán GNC Pay</a></p>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <h3 class="column-title">Giới thiệu về BigPay</h3>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="//player.vimeo.com/video/58093852?title=0&amp;byline=0&amp;portrait=0&amp;color=e79b39" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInRight">
                <h3 class="column-title">Công ty CP giải pháp thanh toán GNC Pay</h3>
                <p>GNCPAY.,JSC được thành lập vào năm 2010. Trải qua thời gian hoạt động trong các lĩnh vực ICT, chúng tôi phấn đấu trở thành nhà cung ứng dịch vụ ICT có uy tín trên thị trường mà dịch vụ chính là trung gian thanh toán, cung cấp giải pháp, dịch vụ thanh toán cho ngành kinh tế trọng yếu, mang tính cộng đồng cao như Điện lực, Giáo dục, Viễn thông, Y tế … 
                Dịch vụ được xây dựng trên cơ sở hệ thống đa kênh, đa phương tiện, kết nối với các ngân hàng và các đơn vị cung ứng hàng hóa dịch vụ, mang đến các dịch vụ thanh toán chất lượng và hiện đại cho khách hàng, góp phần thúc đẩy sự phát triển của hệ thống thanh toán phi tiền mặt tại Việt Nam</p>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="nostyle">
                            <li><i class="fa fa-check-square"></i> BigPay - Giải pháp ví điện tử</li>
                            <li><i class="fa fa-check-square"></i> TapPay - Giải pháp thanh toán thẻ</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="nostyle">
                            <li><i class="fa fa-check-square"></i> Social Commerce - Giải pháp TMĐT mạng xã hội</li>
                            <li><i class="fa fa-check-square"></i> Payment Gateway - Cổng thanh toán trung gian</li>
                        </ul>
                    </div>
                </div>
                <a class="btn btn-primary" href="http://www.gncpay.vn">Tìm hiểu thêm</a>
            </div>
        </div>
    </div>
</section><!--/#about-->
<section id="contact">
    <div id="google-map" style="height:650px" data-latitude="10.7839317" data-longitude="106.7035786"></div>
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <div class="contact-form">
                        <h3>Liên hệ với chúng tôi</h3>
                        <address>
                            <strong>1901, Sai Gon Trade Center.</strong><br>
                            37 Ton Duc Thang<br>
                            District 1, Ho Chi Minh City<br>
                            <abbr title="Phone">P:</abbr> (84) 909 989 986
                        </address>
                        <form id="main-contact-form" name="contact-form" method="post" action="#">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control" rows="8" placeholder="Message" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#bottom-->