@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @{
        ViewBag.Title = "Facebook Friends Listing";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Facebook Friends Listing</h2>

    <table>
        @foreach (var friend in Model.friendsListing)
        {
            <tr><td>@friend.id</td><td>@friend.name</td></tr>
        }
    </table>
</body>
</html>
