
@{
    ViewBag.Title = "Kết quả giao dịch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div id="login-dp" class="col-md-6 col-md-offset-3">
        <h3>Giao dịch @ViewBag.Result! Bấm vào @Html.ActionLink("đây", "eWallet", "Home") để trở về trang chính</h3>
    </div>
</div>
