@{
    Layout = null;
}
<ul class="breadcrumb">
    <li><a href='@Url.Content("/Home/Index")' class="glyphicons home"><i></i> eWallet</a></li>
    <li>Nạp tiền vào từ thẻ ATM Online</li>
</ul>
<div class="separator"></div>
<div id="login-dp" class="content-dp col-md-7">
    <form class="form" role="form" method="post" id="login-nav">
        <div class="form-group">
            <label class="sr-only" for="amount">Số tiền</label>
            <input type="text" class="form-control" id="amount" placeholder="Số tiền nạp" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="bank">Ngân hàng</label>
            <input type="text" id="bank" name="bank" class="form-control" placeholder="Ngân hàng phát hành thẻ" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block make_topup">Xác nhận</button>
        </div>
    </form>
</div>
<div id="login-dp" class="content-dp col-md-5">
    Hướng dẫn dịch vụ
</div>
<script>
    $("#bank").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("ListBank","Proxy",null,null)',
                dataType: "json",
                data: {
                    q: request.term
                },
                success: function (result) {
                    response(result);
                    //response($.map(data.d, function (item) {
                    //    return { label: item.Names, id: item.Guardian_Id }
                    //}))
                },
                error: function (xhr, status) {
                    alert("Không thể load dữ liệu. Vui lòng thử lại sau!" + xhr + status);
                }
            });
        },
        minLength: 2,
        select: function (event, ui) {
            //log(ui.item ?
            //  "Selected: " + ui.item.label :
            //  "Nothing selected, input was " + this.value);
        },
        open: function () {
            $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
        },
        close: function () {
            $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
        }
    });
    $('.make_topup').click(function () {
        //if (!$('#login-nav').valid()) return;
        //NProgress.start();
        var $bank = $('#bank').val();
        var $amount = $('#amount').val();
        
        $.ajax({
            url: '@Url.Action("CashIn_ATM", "Service")',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: { amount: $amount, bank: $bank },
            timeout: 30000
        })
           .success(function (result) {
               //NProgress.done();
               if (result.error_code == "00") {
                   window.location = result.url_redirect;
                   return;
               }
               else {
                   alert(result.error_message);
               }
           })
           .error(function (xhr, status) {
               //NProgress.done();
               alert("Không thể load dữ liệu. Vui lòng thử lại sau!");
           });
    });
</script>
