@{
    Layout = null;
}
<ul class="breadcrumb">
    <li><a href='@Url.Content("/Home/eWallet")' class="glyphicons home"><i></i> eWallet</a></li>
    <li>Nạp tiền từ Chuyển khoản Ngân hàng</li>
</ul>
<div class="separator"></div>
<div id="login-dp" class="content-dp col-md-6">
    <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
        <div class="form-group">
            <label class="sr-only" for="amount">Số tiền*</label>
            <input type="text" class="form-control" id="amount" placeholder="Số tiền nạp" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="account_bank">Từ ngân hàng*</label>
            <input type="text" id="account_bank" name="account_bank" class="form-control" placeholder="Từ Ngân hàng">
        </div>
        <div class="form-group">
            <label for="account_number" class="sr-only">Số tài khoản*</label>
            <input type="text" name="account_number" id="account_number" class="form-control" placeholder="Số tài khoản">
        </div>
        <div class="form-group">
            <label for="trans_date" class="">Ngày chuyển</label>
            <input type="date" name="trans_date" id="trans_date" class="form-control" placeholder="Ngày chuyển tiền">
        </div>
        <div class="form-group">
            <label for="trans_note" class="">Nội dung</label>
            <textarea name="trans_note" id="trans_note" class="form-control" placeholder="Nội dung"/>
        </div>
        <div class="form-group">
            <a class="btn btn-primary btn-block" id="make_topup"><i class="glyphicon glyphicon-credit-card"></i> Xác nhận</a>
        </div>
    </form>
</div>
<div class="col-md-6">
    <p>
        Chúng tôi sẽ tiếp nhận thông tin của bạn và kiểm tra với bộ phận kế toán. Ngay khi lệnh chuyển tiền của bạn được xác nhận, tiền sẽ được chuyển tới tài khoản Ví điện tử của bạn.
    </p>
    <p>
        Thông thường, việc xử lý này mất khoảng 4h làm việc, tùy từng ngân hàng mà bạn sử dụng.
    </p>
</div>
<script>
    $("#account_bank").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("ListBank","Proxy",null,null)',
                dataType: "json",
                data: {
                    q: request.term
                },
                success: function (result) {
                    response(result);
                    //response($.map(data.d, function (item) {
                    //    return { label: item.Names, id: item.Guardian_Id }
                    //}))
                },
                error: function (xhr, status) {
                    alert("Không thể load dữ liệu. Vui lòng thử lại sau!" + xhr + status);
                }
            });
        },
        minLength: 2,
        select: function (event, ui) {
            //log(ui.item ?
            //  "Selected: " + ui.item.label :
            //  "Nothing selected, input was " + this.value);
        },
        open: function () {
            $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
        },
        close: function () {
            $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
        }
    });

    $('#make_topup').click(function () {
        NProgress.start();
        var $amount = $('#amount').val();
        var $account_bank = $('#account_bank').val();
        var $account_number = $('#account_number').val();
        var $trans_date = $('#trans_date').val();
        var $trans_note = $('#trans_note').val();
        $.ajax({
            url: '@Url.Action("CashIn_Bank", "Service")',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {trans_date:$trans_date, account_bank: $account_bank, account_number: $account_number, amount: $amount, note: $trans_note }
        })
           .success(function (result) {
               NProgress.done();
               if (result.error_code == "00") {
                   window.location = window.location.protocol + "//" + window.location.host + "/" + result.url_redirect;
                   return;
               }
               else {
                   alert(result.error_message);
               }
           })
           .error(function (xhr, status) {
               NProgress.done();
               alert("Không thể load dữ liệu. Vui lòng thử lại sau!");
           });
    });
</script>
