@{
    ViewBag.Title = "Thanh toán hóa đơn";
    Layout = null;
}
<ul class="breadcrumb">
    <li><a href='@Url.Content("/Home/Index")' class="glyphicons home"><i></i> eWallet</a></li>
    <li>Thanh toán đơn hàng Thương mại điện tử</li>
</ul>
<div class="separator"></div>
<div id="login-dp" class="content-dp col-md-10 col-md-offset-1">
    <div class="form">
        <div class="form-group">
            <label class="sr-only" for="website">Trang thương mại điện tử</label>
            <input type="text" class="form-control" id="website" placeholder="Website TMĐT">
        </div>
        <div class="form-group">
            <label class="sr-only" for="txt_bill_code">Mã đơn hàng</label>
            <div class="input-group">
                <input type="text" class="form-control" id="txt_bill_code" placeholder="Mã hóa đơn, khách hàng">
                <div class="input-group-addon btn" id="btn_check_bill">Check</div>
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="txt_bill_amount">Số tiền</label>
            <input class="form-control" id="txt_bill_amount" type="text" placeholder="Số tiền" required/>
        </div>
        <div class="form-group">
            <label class="sr-only" for="txt_bill_customer">Họ tên Khách hàng</label>
            <input class="form-control" id="txt_bill_customer" type="text" placeholder="Họ và tên khách hàng" required />
        </div>
        <div class="form-group">
            <label for="txt_bill_date">Ngày giờ đặt hàng</label>
            <input class="form-control" id="txt_bill_date" type="date" required/>
        </div>
        <div class="form-group" id="payment_method">
            <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="glyphicon glyphicon-credit-card"></i> Thẻ ATM</a>
            <a class="btn btn-primary" data-toggle="modal" href="#paybyeWalletModal"><i class="glyphicon glyphicon-piggy-bank"></i> Ví GNC</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //$('#payment_method').hide();
        $('#cb_providers').hide();
        $('#cb_providers option').hide();

        $('#cb_services').change(function () {
            $('#cb_providers').show();
            var $selected_service = $('#cb_services').val();
            $('#cb_providers option').hide();
            if ($selected_service) {
                $('#cb_providers option[data-service="' + $selected_service + '"]').show();
                $('#btn_check_bill').show();
            }
        });
        $('#btn_check_bill').click(function () {
            var $billNo = $('#txt_bill_code').val();
            var $service = $('#cb_services').val();
            var $provider = $('#cb_providers').val();
            if ($billNo) {
                $.ajax({
                    url: '@Url.Action("CheckBill", "Payment")',
                    contentType: 'application/json; charset=utf-8',
                    type: 'GET',
                    dataType: 'json',
                    data: { service: $service, provider: $provider, bill_code: $billNo }
                })
               .success(function (result) {
                   if (result.error_code == "00") {
                       //var resp = result.response;
                       $('#txt_bill_amount').val("123232");
                       $('#txt_bill_customer').val(result.response);
                       $('#payment_method').show();
                   }
                   else {
                       alert(result.error_message);
                   }
               })
               .error(function (xhr, status) {
                   //alert("Không thể load dữ liệu. Vui lòng thử lại sau!");
               });
            }
            else {
                alert('Bạn cần nhập vào mã hóa đơn/mã khách hàng');
            }
        });
    });
</script>
