@{
    ViewBag.Title = "Thanh toán hóa đơn";
    Layout = null;
}
<ul class="breadcrumb">
    <li><a href='@Url.Content("/Home/eWallet")' class="glyphicons home"><i></i> eWallet</a></li>
    <li>Thanh toán Vay trả góp, bảo hiểm</li>
</ul>
<div class="separator"></div>
<div id="login-dp" class="content-dp col-md-7">
    <div class="form">
        <div class="form-group">
            <label class="sr-only" for="cb_services">Dịch vụ</label>
            <select class="form-control" id="cb_services">
                <option>--Chọn loại hình dịch vụ--</option>
                <option value="LOAN">Hợp đồng vay trả góp</option>
                <option value="INSU">Hợp đồng bảo hiểm</option>
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only" for="cb_providers">Nhà cung cấp</label>
            <select class="form-control" id="cb_providers">
                <option value="LOAN_NCBB" data-service="LOAN">Ngân hàng Quốc dân - NCB</option>
                <option value="LOAN_FE" data-service="LOAN">Công ty tài chính FE Credit</option>
                <option value="INSU_PRUD" data-service="INSU">Công ty Bảo hiểm Prudential</option>
                <option value="INSU_DAII" data-service="INSU">Công ty Bảo hiểm DaiIchi Life</option>
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only" for="txt_bill_code">Mã hợp đồng, khách hàng</label>
            @*<input type="text" class="form-control" id="txt_bill_code" placeholder="Mã hóa đơn, khách hàng">*@
            <div class="input-group">
                <input type="text" class="form-control" id="txt_bill_code" placeholder="Mã hợp đồng, khách hàng">
                <div class="input-group-addon btn" id="btn_check_bill">Check</div>
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="txt_bill_customer">Họ tên Khách hàng</label>
            <input class="form-control" id="txt_bill_customer" type="text" placeholder="Họ tên Khách hàng" readonly />
        </div>
        <div class="form-group">
            <label class="sr-only" for="txt_bill_amount">Số tiền còn nợ</label>
            <input class="form-control" id="txt_bill_amount" type="text" placeholder="Số tiền còn nợ" readonly />
        </div>
        <div class="form-group">
            <label class="sr-only" for="txt_bill_pay_amount">Số tiền thanh toán</label>
            <input class="form-control" id="txt_bill_pay_amount" type="text" placeholder="Số tiền thanh toán" />
        </div>
        <div class="form-group" id="payment_method">
            <a class="btn btn-primary" data-toggle="modal" href="#bankModal"><i class="glyphicon glyphicon-credit-card"></i> Thẻ ATM</a>
            <a class="btn btn-primary" id="pay_with_ewallet"><i class="glyphicon glyphicon-piggy-bank"></i> Ví GNC</a>
        </div>
    </div>
</div>
<div id="login-dp2" class="content-dp col-md-5">
    Hướng dẫn dịch vụ
</div>
<script>
    $(document).ready(function () {
        //$('#payment_method').hide();
        $('#cb_providers').hide();
        $('#cb_providers option').hide();

        $('#cb_services').change(function () {
            $('#cb_providers').show();
            var $selected_service = $('#cb_services').val();
            $('#cb_providers option').hide();
            if ($selected_service) {
                $('#cb_providers option[data-service="' + $selected_service + '"]').show();
                $('#btn_check_bill').show();
            }
        });
        $('#btn_check_bill').click(function () {
            var $billNo = $('#txt_bill_code').val();
            var $service = $('#cb_services').val();
            var $provider = $('#cb_providers').val();
            if ($billNo) {
                NProgress.start();
                $.ajax({
                    url: '@Url.Action("Payment_CheckBill", "Service")',
                    contentType: 'application/json; charset=utf-8',
                    type: 'GET',
                    dataType: 'json',
                    data: { service: $service, provider: $provider, bill_code: $billNo }
                })
               .success(function (result) {
                   NProgress.done();
                   if (result.error_code == "00") {
                       //var resp = result.response;
                       $('#txt_bill_amount').val(result.response.amount);
                       $('#txt_bill_pay_amount').val(result.response.amount);
                       
                       $('#txt_bill_customer').val(result.response.customer_name);
                       $('#payment_method').show();
                   }
                   else {
                       alert(result.error_message);
                   }
               })
               .error(function (xhr, status) {
                   NProgress.done();
                   alert("Không thể load dữ liệu. Vui lòng thử lại sau!");
               });
            }
            else {
                alert('Bạn cần nhập vào mã hóa đơn/mã khách hàng');
            }
        });
        $('.PayBillWithATM').click(function () {
            NProgress.start();
            var $bank = $(this).data("bank");

            var $billNo = $('#txt_bill_code').val();
            var $service = $('#cb_services').val();
            var $provider = $('#cb_providers').val();
            var $amount = $('#txt_bill_pay_amount').val();
            var $customer_name = $('#txt_bill_customer').val();
            $.ajax({
                url: '@Url.Action("Payment_PayBill", "Service")',
                contentType: 'application/json; charset=utf-8',
                type: 'GET',
                dataType: 'json',
                data: { service: $service, provider: $provider, bill_code: $billNo, amount: $amount, payment_provider: "BANKNET", bank: $bank }
            })
               .success(function (result) {
                   NProgress.done();
                   if (result.error_code == "00") {
                       window.location = result.url_redirect;
                       return;
                   }
                   else {
                       alert(result.error_message);
                   }
               })
               .error(function (xhr, status) {
                   NProgress.done();
                   alert("Không thể load dữ liệu. Vui lòng thử lại sau!");
               });
        });

        $('#pay_with_ewallet').click(function () {
            NProgress.start();
            var $bank = $(this).data("bank");

            var $billNo = $('#txt_bill_code').val();
            var $service = $('#cb_services').val();
            var $provider = $('#cb_providers').val();
            var $amount = $('#txt_bill_pay_amount').val();
            var $customer_name = $('#txt_bill_customer').val();
            $.ajax({
                url: '@Url.Action("Payment_PayBill", "Service")',
                contentType: 'application/json; charset=utf-8',
                type: 'GET',
                dataType: 'json',
                data: { service: $service, provider: $provider, bill_code: $billNo, amount: $amount, payment_provider: "GNCE", bank: "" }
            })
               .success(function (result) {
                   NProgress.done();
                   if (result.error_code == "00") {
                       window.location = window.location.protocol + "//" + window.location.host + "/" + result.url_redirect;
                       return;
                   }
                   else {
                       alert(result.error_message);
                   }
               })
               .error(function (xhr, status) {
                   NProgress.done();
                   alert("Không thể load dữ liệu. Vui lòng thử lại sau!");
               });
        });
    });
</script>
