@{
    ViewBag.Title = "Nạp tiền điện thoại di động";
    Layout = null;
}
<ul class="breadcrumb">
    <li><a href='@Url.Content("/Home/eWallet")' class="glyphicons home"><i></i> eWallet</a></li>
    <li>Nạp tiền điện thoại di động</li>
</ul>
<div class="separator"></div>
<div id="login-dp" class="content-dp col-md-7">
    <div class="form">
        <div class="form-group">
            <label class="sr-only" for="mobile_topup_provider">Mạng di động*</label>
            <select class="form-control" id="mobile_topup_provider">
                <option value="MOBI" data-service="TELCO">MẠNG DI ĐỘNG MOBIFONE</option>
                <option value="VTEL" data-service="TELCO">MẠNG DI ĐỘNG VIETTEL</option>
                <option value="VINA" data-service="TELCO">MẠNG DI ĐỘNG VINAPHONE</option>
                <option value="VNAM" data-service="TELCO">MẠNG DI ĐỘNG VIETNAM MOBILE</option>
                <option value="GTEL" data-service="TELCO">MẠNG DI ĐỘNG GTEL</option>
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only" for="mobile_topup_price">Mệnh giá nạp*</label>
            <select class="form-control" id="mobile_topup_price">
                <option value="10000">10,000 VNĐ</option>
                <option value="20000">20,000 VNĐ</option>
                <option value="50000">50,000 VNĐ</option>
                <option value="100000">100,000 VNĐ</option>
                <option value="200000">200,000 VNĐ</option>
                <option value="500000">500,000 VNĐ</option>
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only" for="mobile">Số di động*</label>
            <input type="text" class="form-control" id="mobile" placeholder="Số di động">
        </div>
        <div class="form-group" id="payment_method">
            <a class="btn btn-primary" data-toggle="modal" href="#bankModal"><i class="glyphicon glyphicon-credit-card"></i> Thẻ ATM</a>
            <a class="btn btn-primary" data-toggle="modal" href="#paybyeWalletModal"><i class="glyphicon glyphicon-piggy-bank"></i> Ví GNC</a>
        </div>
    </div>
</div>
<div class="content-dp col-md-5">
    Hướng dẫn nạp điện thoại trả trước
</div>
<script>
    $(document).ready(function () {
        $('.pay-by-atm').click(function () {
            NProgress.start();
            var $bank = $(this).data("bank");
            var $provider = $('#mobile_topup_provider').val();
            var $price = $('#mobile_topup_price').val();
            var $mobile = $('#mobile').val();
            if ($mobile) {
                $.ajax({
                    url: '@Url.Action("Topup_Mobile", "Service")',
                    contentType: 'application/json; charset=utf-8',
                    type: 'GET',
                    dataType: 'json',
                    data: { mobile: $mobile, service:"TELCO",provider: $provider, price: $price, payment_provider: "BANKNET", bank: $bank }
                })
           .success(function (result) {
               NProgress.done();
               if (result.error_code == "00") {
                   window.location = result.url_redirect;
                   return;
               }
               else {
                   alert(result.error_message);
               }
           })
           .error(function (xhr, status) {
               NProgress.done();
               alert("Không thể load dữ liệu. Vui lòng thử lại sau!");
           });
            }
            else {
                alert('Bạn cần nhập vào mã hóa đơn/mã khách hàng');
            }
        });
    });
</script>
