@model eWallet.Portal.Models.Wallet
@{
    ViewBag.Title = "Chuyển khoản tới Tài khoản ví";
    Layout = null;
}
<ul class="breadcrumb">
    <li><a href='@Url.Content("/Home/eWallet")' class="glyphicons home"><i></i> eWallet</a></li>
    <li>@ViewBag.Title</li>
</ul>
<div class="separator"></div>
<div id="login-dp" class="content-dp col-md-10 col-md-offset-1">
    <div class="form">
        <div class="form-group">
            <label class="sr-only" for="receiver_gnc_account">Tài khoản nhận tiền</label>
            <div class="input-group">
                <input type="text" class="form-control" id="receiver_gnc_account" name="receiver_gnc_account" placeholder="Tên đăng nhập của tài khoản ví">
                <div class="input-group-addon btn" id="btn_check_receiver">Check</div>
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="receiver_gnc_name">Tên khoản nhận tiền</label>
            <input type="hidden" id="receiver_gnc_id" />
            <input type="text" class="form-control" id="receiver_gnc_name" name="receiver_gnc_name" placeholder="" readonly>
        </div>
        <div class="form-group">
            <label class="sr-only" for="amount">Số tiền</label>
            <input class="form-control" id="amount" type="text" placeholder="Số tiền muốn chuyển" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="note">Số tiền</label>
            <textarea class="form-control" id="note"  placeholder="Ghi chú" />
        </div>
        <div class="form-group" id="payment_method">
            @*<a class="btn btn-primary" data-toggle="modal" href="#bankModal"><i class="glyphicon glyphicon-credit-card"></i> Thẻ ATM</a>*@
            <a class="btn btn-primary make_transaction"><i class="glyphicon glyphicon-piggy-bank"></i> Ví GNC</a>
        </div>
    </div>
</div>
<script>
    $('#btn_check_receiver').click(function () {
        $('#receiver_gnc_name').val('');
        $('#receiver_gnc_id').val('');
        //NProgress.start();
        $UserWallet = $('#receiver_gnc_account').val();
        $.ajax({
            url: '/Service/TransferWallet_CheckUser',
            contentType: 'application/json',
            type: 'GET',
            dataType: 'json',
            data: { userwallet: $UserWallet }
        })

                           .success(function (result) {
                               if (result.error_code == "00") {
                                   $('#receiver_gnc_name').val(result.full_name);
                                   $('#receiver_gnc_id').val(result.id);
                                   return;
                               }
                               else {
                                   alert(result.error_message);
                                   return;
                               }
                           })
                           .error(function (jqXHR, textStatus, errorThrown) {
                               return;
                           });
    });

    $('.make_transaction').click(function () {
        var $account = $('#receiver_gnc_account').val();
        var $account_id = $('#receiver_gnc_id').val();
        var $account_name = $('#receiver_gnc_name').val();
        var $amount = $('#amount').val();
        var $note = $('#note').val();
        $.ajax({
            url: '@Url.Action("TransferWallet_MakeTransaction", "Service")',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: { account: $account, account_id:$account_id, account_name: $account_name, amount: $amount, note: $note }
        })
           .success(function (result) {
               if (result.error_code == "00") {
                   var redirect_url = "http://" + window.location.host + "/" + result.url_redirect;
                   window.location = redirect_url;
               }
               else {
                   alert(result.error_message);
               }
           })
           .error(function (xhr, status) {
               //alert("Không thể load dữ liệu. Vui lòng thử lại sau!");
           });
    });
</script>
