<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cổng thanh toán BigPay</title>
    <!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.transitions.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">

    
    <!-- MiniColors -->
    @*<link rel="stylesheet" media="screen" href="/theme/scripts/jquery-miniColors/jquery.miniColors.css" />*@

    <!-- Theme -->
    @*<link rel="stylesheet" href="/theme/css/style.min.css?1361377732" />*@
    <style>
        body {
            /*background: url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');*/
            /*background: url('http://thongcaobaochi.com.vn/public/media/media/picture/Ha%20Noi%20mua%20thu.jpg');*/
            /*background-size: 100%;*/
            /*padding: 10px;*/
        }
        #main-menu.navbar-default .dropdown-menu {
            min-width: 250px;
            padding: 14px 14px 0;
            overflow: hidden;
            background-color: rgba(255,255,255,.8);
        }
            .bg {
                overflow: hidden;
                background-color: rgba(255,255,255,.8);
            }

            .content-dp {
                margin-bottom: 14px;
            }

            #login-dp {
                min-width: 250px;
                padding: 14px 14px 0;
                overflow: hidden;
                background-color: rgba(255,255,255,.8);
            }

                #login-dp .help-block {
                    font-size: 12px;
                }

                #login-dp .bottom {
                    background-color: rgba(255,255,255,.8);
                    border-top: 1px solid #ddd;
                    clear: both;
                    padding: 14px;
                }

                #login-dp .social-buttons {
                    margin: 12px 0;
                }

                    #login-dp .social-buttons a {
                        width: 49%;
                    }

                #login-dp .form-group {
                    margin-bottom: 10px;
                }

            .btn-fb {
                color: #fff;
                background-color: #3b5998;
            }

                .btn-fb:hover {
                    color: #fff;
                    background-color: #496ebc;
                }

            .btn-tw {
                color: #fff;
                background-color: #55acee;
            }

                .btn-tw:hover {
                    color: #fff;
                    background-color: #59b5fa;
                }

            .mega-dropdown {
                position: static !important;
            }

            .mega-dropdown-menu {
                padding: 20px 0px;
                width: 100%;
                box-shadow: none;
                -webkit-box-shadow: none;
            }

                .mega-dropdown-menu > li > ul {
                    padding: 0;
                    margin: 0;
                }

                    .mega-dropdown-menu > li > ul > li {
                        list-style: none;
                    }

                        .mega-dropdown-menu > li > ul > li > a {
                            display: block;
                            color: #222;
                            padding: 3px 5px;
                        }

                .mega-dropdown-menu > li ul > li > a:hover,
                .mega-dropdown-menu > li ul > li > a:focus {
                    text-decoration: none;
                }

                .mega-dropdown-menu .dropdown-header {
                    font-size: 18px;
                    color: #ff3546;
                    padding: 5px 60px 5px 5px;
                    line-height: 30px;
                }
    </style>
   
</head><!--/head-->
<body id="home" class="homepage">
    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href='@Url.Action("Index","Home",null,null)'><img src="/images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">Trang chủ</a></li>
                        <li class="scroll"><a href="#features">Tính năng</a></li>
                        <li class="scroll"><a href="#services">Dịch vụ</a></li>
                        <li class="scroll"><a href="#portfolio">Đối tác</a></li>
                        <li class="scroll"><a href="#about">Về BigPay</a></li>
                        <li class="scroll"><a href="#contact">Liên hệ</a></li>
                        <li class="scroll"><a href='@Url.Action("eWallet","Home",null,null)'>Ví điện tử</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
    @RenderBody()
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 GNC Pay. Designed by <a target="_blank" href="http://payflow.vn" title="Payflow Solution">Payflow Solution</a>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/mousescroll.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>