@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="thanh toán online,giao dịch trực tuyến,bigpay,cổng thanh toán trực tuyến,nạp tiền điện thoại,tích hợp thanh toán" />
    <meta name="description" content="BigPay là cổng thanh toán trực tuyến được xây dựng theo mô hình hệ thống thanh toán Paypal, Moneybookers, ... phục vụ thanh toán trực tuyến tại Việt Nam. BigPay đóng vai trò là cầu nối giữa người mua và người bán hỗ trợ Thanh toán trực tuyến và Chuyển tiền trực tuyến giữa hai bên." />
    @*<meta name="google-site-verification" content="7ISuH0lUfBoddMNgR0vFRsYmEbOF2Esn90eKMCK7Scc" />*@
    <meta name="revisit-after" content="1 days" />
    <meta name="robots" content="FOLLOW,INDEX" />
    @*<meta property="og:image" content="https://azpay.vn/templates/images/v2/logo.png" />*@
    <meta property="og:title" content="Ví điện tử BigPay" />
    <meta property="og:description" content="BigPay là cổng thanh toán trực tuyến được xây dựng theo mô hình hệ thống thanh toán Paypal, Moneybookers, ... phục vụ thanh toán trực tuyến tại Việt Nam. BigPay đóng vai trò là cầu nối giữa người mua và người bán hỗ trợ Thanh toán trực tuyến và Chuyển tiền trực tuyến giữa hai bên." />
    <link rel="image_src" href="/images/logo.png" / >
    @*<base href="https://azpay.vn" />*@
    <title>Cổng thanh toán BigPay</title>
    <!-- Bootstrap -->
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- Glyphicons -->
    <link rel="stylesheet" href="/theme/css/glyphicons.css" />
    <link href="~/Content/azstyle.css" rel="stylesheet" />
    <link href="~/Content/menu.css" rel="stylesheet" />
    <link href="~/Content/slider.css" rel="stylesheet" />
    @*<script type="text/javascript" src="https://azpay.vn/templates/javascript/v2/jquery-2.0.0.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    @*<script type="text/javascript" src="https://azpay.vn/templates/javascript/azpay_scripts.js"></script>*@
    @*<script type="text/javascript" src="https://azpay.vn/public/js/js_global.js"></script>*@
    @*<script type="text/javascript" src="https://azpay.vn/public/js/js_php.js"></script>*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--
    <script type="text/javascript" src="https://azpay.vn/templates/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="https://azpay.vn/templates/javascript/azpay_slides_min.js"></script>
    <script type="text/javascript" src="https://azpay.vn/templates/javascript/jquery-ui.js"></script>
    -->
    <style>
        div#page {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
        }

        .back-to-top {
            display: block;
            width: 31px;
            height: 31px;
            position: fixed;
            background-color: black;
            bottom: 15px;
            right: 15px;
            display: none;
        }

            .back-to-top:before {
                content: "";
                position: Absolute;
                width: 0;
                height: 0;
                border: 11px solid transparent;
                border-bottom: 11px solid white;
                left: 5px;
                top: -8px;
            }


            .back-to-top:after {
                content: "";
                position: Absolute;
                width: 10px;
                height: 17px;
                background-color: white;
                left: 11px;
                top: 14px;
            }

            .back-to-top:hover {
                background-color: rgba(135, 135, 135, 0.50);
                text-decoration: none;
            }
        
        .footer-bottom {
        }

            .footer-bottom .logo {
                float: left;
            }

            .footer-bottom .grid_1020 {
                width: 1020px;
                margin: 0px auto;
            }

            .footer-bottom .copyright {
                float: left;
                margin-top: 8px;
                margin-left: 30px;
                margin-right:30px;
                font-size: 12px;
                color: #999;
                line-height: 1.9;
                text-align: left;
            }

        a {
            color: #000;
            outline: none;
        }

        a {
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
            text-decoration: none;
            margin: 0;
            padding: 0;
        }

        .social-list {
            overflow: hidden;
        }

        .social-block h5 {
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 16px;
            padding-bottom: 10px;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .social-list a {
            display: block;
            width: 35px;
            height: 35px;
            border: 1px solid #fff;
            background: #fff;
            font-size: 18px;
            line-height: 36px;
            text-align: center;
            border-radius: 3px;
            -o-border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -webkit-transition: background .25s ease-in-out;
            -moz-transition: background .25s ease-in-out;
            -ms-transition: background .25s ease-in-out;
            -o-transition: background .25s ease-in-out;
            transition: background .25s ease-in-out;
        }

        .social-list ul {
            display: block;
            list-style-type: disc;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 40px;
        }

        .social-list li {
            margin-left: 5px;
            float: left;
        }
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>

<body>
    <a class="back-to-top" href="#"></a>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var offset = 220;
            var duration = 500;
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > offset) {
                    jQuery('.back-to-top').fadeIn(duration);
                } else {
                    jQuery('.back-to-top').fadeOut(duration);
                }
            });

            jQuery('.back-to-top').click(function (event) {
                event.preventDefault();
                jQuery('html, body').animate({ scrollTop: 0 }, duration);
                return false;
            })
        });
    </script>	
    <script src="/Scripts/nprogress.js"></script>
    <script>
        function loadPage(href) {
            NProgress.start();
            $("#main_content").html('');
            $("#main_content").load(href, function (response, status, xhr) {
                NProgress.done();
                if (status == "error") {
                    var msg = "Sorry but there was an error: ";
                    $("#error").html('');
                }
            });
        }
    </script>
    <header>

        <!--end azpay-topheader-->

        <section id="azpay-header" class="clr">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <h1 class="logo col-lg-12">
                            <a href="#" title="Cổng thanh toán BigPay">
                                <img src="/images/logo.png" alt="" />
                            </a>
                        </h1>
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </section><!--end azpay-header-->

    </header> <!--end header-->

    <section id="menu">
        <div class="container">
            <ul class="slimmenu">
                <li>
                    <a icon="fa fa-home" href="/">&nbsp;Trang chủ</a>
                </li>
                <li>
                    <a icon="fa fa-user" href="#" class="hidden-xs">&nbsp;Về BigPay</a>
                    <ul>
                        <li>
                            <a icon="fa fa-angle-double-right" href="#">&nbsp;Giới thiệu BigPay</a>
                        </li>
                        <!--
                        <li>
                            <a icon="fa fa-angle-double-right" href="">&nbsp;Thông cáo báo chí</a>
                        </li>
                        -->
                    </ul>
                </li>
                <li>
                    <a icon="fa fa-user" href="/account/personal">&nbsp;Ví Điện Tử</a>
                </li>

                <li>
                    <a icon="fa fa-random" href="#">&nbsp;Dịch Vụ</a>
                    <ul>
                        <li>
                            <a icon="fa fa-angle-double-right" href="/Account/CashIn">&nbsp;Nạp tiền tài khoản BigPay</a>
                        </li>
                        <li>
                            <a icon="fa fa-angle-double-right" href="/Service/Payment">&nbsp;Thanh toán dịch vụ</a>
                        </li>
                        <li>
                            <a icon="fa fa-angle-double-right" href="/Service/Transfer">&nbsp;Chuyển tiền</a>
                        </li>
                        <li>
                            <a icon="fa fa-angle-double-right" href="/Account/CashOut">&nbsp;Rút tiền</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a icon="fa fa-male" href="#">&nbsp;Cá nhân</a>
                    <ul>
                        <li>
                            <a icon="fa fa-angle-double-right" href="/Service/Topup">&nbsp;Nạp tiền điện tử</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a icon="fa fa-building-o" href="/integrate.html">&nbsp;Doanh nghiệp</a>
                    <ul>
                        <!--
                        <li>
                            <a icon="fa fa-angle-double-right" href="">&nbsp;Hợp tác cùng BigPay</a>
                        </li>
                        <li>
                            <a icon="fa fa-angle-double-right" href="">&nbsp;Doanh nghiệp đã tích hợp BigPay</a>
                        </li>
                        -->
                        <li>
                            <a icon="fa fa-angle-double-right" href="/integrate.html">&nbsp;Tích hợp thanh toán</a>
                        </li>
                    </ul>
                </li>
                <!--
                <li>
                    <a icon="fa fa-map-marker" href="/merchant.html">&nbsp;Điểm giao dịch</a>
                    <ul>
                        <li>
                            <a icon="fa fa-angle-double-right" href="">&nbsp;Các điểm giao dịch</a>
                        </li>
                        <li>
                            <a icon="fa fa-angle-double-right" href="">&nbsp;Đăng ký trở thành điểm giao dịch</a>
                        </li>
                    </ul>
                </li>
                -->
                <li>
                    <a icon="fa fa-bullhorn" class="hidden-xs" href="/news.html">&nbsp;Tin tức</a>
                    <ul>
                        <li>
                            <a icon="fa fa-angle-double-right" href="/news/category/khuyen-mai-nha-mang-di-dong.html">&nbsp;Tin khuyến mãi</a>
                        </li>
                        <!--
                        <li>
                            <a icon="fa fa-angle-double-right" href="">&nbsp;Tin từ Nhân Hòa</a>
                        </li>
                        -->
                    </ul>
                </li>
                <li>
                    <a icon="fa fa-life-bouy" class="hidden-xs" href="/faq.html">&nbsp;Hỗ trợ</a>
                    <!--
                    <ul>
                        <li>
                            <a icon="fa fa-angle-double-right" href="">&nbsp;Các thuật ngữ sử dụng</a>
                        </li>
                        <li>
                            <a icon="fa fa-angle-double-right" href="">&nbsp;Thông tin trợ giúp</a>
                        </li>
                        <li>
                            <a icon="fa fa-angle-double-right" href="">&nbsp;Khiếu nại</a>
                        </li>
                    </ul>
                    -->
                </li>
                <li>
                    <a icon="fa fa-lìe-bouy" href="#">&nbsp;Liên Hệ</a>
                </li>
             </ul>
        </div>
    </section>
    @RenderBody()
    <footer style="background-color:#0F0F0F">
        <div class="container">
            <div class="row">
                <article class="footer">
                    <article class="footer-box col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <h5>Hỗ trợ</h5>
                        <ul>
                            <li><a href="../privacy-policy.html"><i class="fa fa-angle-right"></i> Chính sách quyền riêng tư</a></li>
                            <li><a href="../user-agreements.html"><i class="fa fa-angle-right"></i> Thỏa thuận người dùng</a></li>
                            <li><a href="../guide.html"><i class="fa fa-angle-right"></i> Hướng dẫn</a></li>
                        </ul>
                    </article>
                    <article class="footer-box col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <h5>Hợp tác</h5>
                        <ul>
                            <li><a href="../contact-cooperation.html"><i class="fa fa-angle-right"></i> Liên hệ hợp tác</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Dành cho đối tác</a></li>
                        </ul>
                    </article>
                    <article class="footer-box col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <h5>Về BigPay</h5>
                        <ul>
                            <li><a href="../recruitment.html"><i class="fa fa-angle-right"></i> Tuyển dụng</a></li>
                            <li><a href="../contact.html"><i class="fa fa-angle-right"></i> Liên hệ</a></li>
                        </ul>
                    </article>
                    <article class="footer-box col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <h5>Nhận bản tin</h5>
                        <div class="newsletter"><input id="reemail" placeholder="Nhập Email của bạn" type="email" /> <input id="submit_register_email" value="Đăng ký" type="submit" /></div>
                    </article>
                </article>
                <section class="footer-bottom" style="border:none">
                    <div class="grid_1020">
                        <a href="/" class="logo" title=""><img alt="" src="~/images/biglogo.png"></a>
                        <div class="copyright">
                            <p>Công ty cổ phần giải pháp thanh toán GNC  Hà Nội: F512, CharmVit Tower,117 Trần Duy Hưng  </p>
                            <p>Email: contact@gnc.vn</p>
                            <p>Giấy phép số  </p>
                            <p>Copyrights © 2015 BigPay.vn .  All Rights Reserved</p>
                        </div>
                   </div>
                </section>
                <section class="grid_496">
                    <section class="social-block">
                        <h5>Social Network</h5>
                        <div class="content">
                            <ul class="social-list">
                                <li><a href="#" class="facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="google_plus" title="google plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="twitter" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="youtube" title="youtube"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#" class="zing">z</a></li>
                            </ul>
                        </div>
                    </section>
                </section>
                @*<article class="footer-bottom col-lg-12">Copyright ® Công ty Cổ Phần GNC Pay. All Rights Reserved.</article>*@
            </div> <!--end row-->
        </div> <!--end container-->
    </footer>
    <script src="https://azpay.vn/templates/javascript/v2/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            var owl = $("#doitac");

            owl.owlCarousel({
                items: 3,
                itemsDesktop: [1000, 4],
                itemsDesktopSmall: [900, 4],
                itemsTablet: [640, 3],
                autoPlay: 5000,
            });
            $(".bank-navigation .next").click(function () {
                owl.trigger('owl.next');
            })
            $(".bank-navigation .prev").click(function () {
                owl.trigger('owl.prev');
            })
        });

        $(document).ready(function () {

            var owl = $("#thanhtoan");

            owl.owlCarousel({
                items: 3,
                itemsDesktop: [1000, 4],
                itemsDesktopSmall: [900, 4],
                itemsTablet: [640, 3],
                autoPlay: 5000,
            });
            $(".navigation .next").click(function () {
                owl.trigger('owl.next');
            })
            $(".navigation .prev").click(function () {
                owl.trigger('owl.prev');
            })
        });

        $(document).ready(function () {
            $("#slider").owlCarousel({
                navigation: false,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true,
            });
        });


    </script>
    <script src="https://azpay.vn/templates/javascript/v2/jquery.slimmenu.js"></script>
    <script src="https://azpay.vn/templates/javascript/v2/jquery.easing.min.js"></script>

    <script>
        $('ul.slimmenu').slimmenu(
        {
            resizeWidth: '980',
            collapserTitle: '',
            easingEffect: 'easeInOutQuint',
            animSpeed: 'medium',
            indentChildren: true,
            childrenIndenter: ''
        });

        function load_menu_icon() {
            var menu_items = $(".slimmenu a[icon]");
            $(".slimmenu a[icon] i").remove();
            menu_items.each(function (index) {
                var menu_class = $(this).attr("icon");
                $(this).html("<i class='" + menu_class + "'></i>" + $(this).html());
            });
        }
        $(window).resize(function () {
            load_menu_icon();
        });
        load_menu_icon();

        $(document).ready(function () {
            $("#block_page ul").addClass("pagination").addClass("pull-right");
        });
    </script>
    @RenderSection("scripts", required: false)
    <!-- JQueryUI v1.9.2 -->
    <script src="/theme/scripts/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js"></script>

    <!-- JQueryUI Touch Punch -->
    <!-- small hack that enables the use of touch events on sites using the jQuery UI user interface library -->
    <script src="/theme/scripts/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- MiniColors -->
    <script src="/theme/scripts/jquery-miniColors/jquery.miniColors.js"></script>

    <!-- Themer -->
    <script>
        var themerPrimaryColor = '#71c39a';
    </script>
    <script src="/theme/scripts/jquery.cookie.js"></script>
    <script src="/theme/scripts/themer.js"></script>


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!--  Flot (Charts) JS -->
    @*<script src="/theme/scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="/theme/scripts/flot/jquery.flot.pie.js" type="text/javascript"></script>
        <script src="/theme/scripts/flot/jquery.flot.tooltip.js" type="text/javascript"></script>
        <script src="/theme/scripts/flot/jquery.flot.selection.js"></script>
        <script src="/theme/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="/theme/scripts/flot/jquery.flot.orderBars.js" type="text/javascript"></script>*@

    <!-- Resize Script -->
    <script src="/theme/scripts/jquery.ba-resize.js"></script>

    <!-- Uniform -->
    <script src="/theme/scripts/pixelmatrix-uniform/jquery.uniform.min.js"></script>

    @*<script src="/theme/scripts/DataTables/media/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    @*<script src="/theme/scripts/DataTables/media/js/DT_bootstrap.js"></script>*@
    <script src="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <!-- Bootstrap Script -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap Extended -->
    <script src="/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>
    <script src="/bootstrap/extend/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script>
    <script src="/bootstrap/extend/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"></script>
    <script src="/bootstrap/extend/jasny-bootstrap/js/jasny-bootstrap.min.js" type="text/javascript"></script>
    <script src="/bootstrap/extend/jasny-bootstrap/js/bootstrap-fileupload.js" type="text/javascript"></script>
    <script src="/bootstrap/extend/bootbox.js" type="text/javascript"></script>
    <script src="/bootstrap/extend/bootstrap-wysihtml5/js/wysihtml5-0.3.0_rc2.min.js" type="text/javascript"></script>
    <script src="/bootstrap/extend/bootstrap-wysihtml5/js/bootstrap-wysihtml5-0.0.2.js" type="text/javascript"></script>
</body>
</html>